* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    width: 450px;
}

.start-screen {
    background-image: url("../images/tetris-start-screen-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1535px;
    height: 720px;
}

.game-screen {
    background-image: url("../images/tetris-game-screen-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1535px;
    height: 720px;
}

.end-screen {
    background-image: url("../images/tetris-game-over-screen-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1535px;
    height: 720px;
}

.score {
    padding: 7px;
    font-size: 2rem;
    color: white;

}

.game-screen, .end-screen {
    display: none;
    text-align: center;
}

.start-screen {
    text-align: center;
}

.end-screen {
    text-align: center;
}

.retry {
    display: inline-block;
    background-color: white;
    color: darkblue;
    font-size: 20px;
    line-height: 2;
    width: 120px;
    margin-top: 23rem;
    border-radius: 4px;
    border: 5px solid lawngreen;
}

.start {
    display: inline-block;
    background-color: white;
    color: darkblue;
    font-size: 20px;
    line-height: 2;
    width: 120px;
    margin-top: 16rem;
    border-radius: 4px;
    border: 5px solid lawngreen;
}