* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
}

.start-screen {
    background-image: url("../images/tetris-start-screen-background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    width: auto;
    height: 100%;
}

.game-screen {
    background-image: url("../images/tetris-game-screen-background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    width: auto;
    height: 100%;
}

.end-screen {
    background-image: url("../images/tetris-game-over-screen-background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    width: auto;
    height: 100%;
}

.score {
    padding: 7px;
    font-size: 2rem;
    color: white;
}

.time {
    font-size: 2rem;
    color: white;
    position: center;
}

.endTime {
    font-size: 2rem;
    color: white;
    position: center;
}

.game-screen, .end-screen {
    display: none;
    text-align: center;
}

.start-screen {
    text-align: center;
}

.end-screen {
    text-align: center;
}

.retry {
    display: inline-block;
    background-color: white;
    color: darkblue;
    font-size: 20px;
    line-height: 2;
    width: 120px;
    margin-top: 28rem;
    border-radius: 4px;
    border: 5px solid lawngreen;
}

.start {
    display: inline-block;
    background-color: white;
    color: darkblue;
    font-size: 20px;
    line-height: 2;
    width: 120px;
    margin-top: 20rem;
    border-radius: 4px;
    border: 5px solid lawngreen;
}